body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body, #root{
  height: 100%;
}
#root{
  display: flex;
  align-items: center;
}
.page{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  background-color: #FFF;
  padding: 20px;
  max-width:  1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 43px 0px rgba(0,0,0,0.75);
}
.App form{
  display: flex;
}
.App form button{
  background-color: lightseagreen;
  border: none;
  width: 80px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
ol{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
ol li{
  display: flex;
  justify-content: space-between;
}
.btn{
  padding: 5px 10px;
  color: #FFF;
  cursor: pointer;
} 
input{
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  font-size: 13px;
}
.delete-btn{
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ed3237;
  border: 1px solid #ed3237;
}
.App .matrix{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.matrix{
  margin-top: 10px;
}
.matrix h5{
  margin-bottom: 10px;
}
.matrix > div{
  border: 1px solid #ccc;
  width: 200px;
  padding: 10px 15px;
  overflow-x: hidden;
}